
#controlContainer #searchField
{
	width: 100%;	
}

#controlContainer #display
{
	width: 100%;
}


td.showSlider
{
	display: table-cell;
}
input.showSlider
{
	display: inline-block;
}
td.showLabel
{
	display: none;
}

#sliderContainer
{
	transition: all 0.1s;
	left: -69px;
}

#sliderContainer:hover, #sliderContainer:active, #sliderContainer.sliderVisible
{
	left: 0;
}