* 
{
    box-sizing: border-box;
    outline:none;
}

body
{
	text-align: center;
	margin:0;
	padding:0;
    width: 100%;
    height: 100%;
}

/*div around button and text field*/
#controlContainer
{
    background: #EEE;
	padding: 5px;
	z-index: 1;
	/*relative to document begin, can be scrolled*/
	position: absolute;
	width:100%;
}
#controlContainer table
{
	width:100%;
}
#controlContainer td
{
	padding: 2px;
}

#controlContainer input
{
	width: 100%;
	height: 35px;
	padding: 3px;
	border-radius: 30px;
	border: 1px solid gray;
    font-size: 18px;
}

input[type="button"]
{
    cursor: pointer;
}

#controlContainer #searchField
{
	background-color: #FFF;
	width: 430px;
    padding-left: 20px;
}

#controlContainer #display
{
	width: 100px;
	background-color: darkgray;
}

#frameContainer
{
    background: #EEE;
	/* fixed according to browser window, cannot be scrolled*/
	position:fixed;
	left: 0;
	top: 46px;
	right: 0;
	bottom: 0;
	margin:0;
	perspective: 1600px;
}
#transformContainer
{
	position:absolute;
	left: 60px;
	right: 0px;
	height: 100%;
	
	transform-origin: bottom;
	perspective-origin: bottom;
}
#iframe
{
	border-width: 0;
	width: 100%;
	height: 100%;
}

#sliderContainer
{
    z-index: 1;
	height: 100%;
	width: 60px;
	position: absolute;
	left: 0;
    display: inline-block;
}
#sliderHandle
{
    text-align: right;
    padding-right: 5px;
    z-index: 1;
	position: absolute;
    top: calc(50% - 25px);
    font-family: monospace;
    font-weight: bold;
    background: #EEE;
    display: inline-block;
    width: 32px;
    line-height: 50px;
    border-radius: 6px;
    left: -6px;
    border: 1px solid gray;
    visibility: hidden;
}
#sliderHandle::after
{
    content: " ";
    width: 40px;
    height: 100%;
    position: absolute;
    /*background: red;*/
}

#slider
{
	position: absolute;
	width: 17px;
    top: 10px;
    bottom: 10px;
    left: 22px;
    
	display: inline-block;
}

#pinButton
{
    display: none;
	background-color: #222;
    background-image: url("pinWhite.png");
    background-size: 75%;
    background-repeat: no-repeat;
    background-position: center;
}
#pinButton.pinButtonActive
{
	background-color: #FFF;
    background-image: url("pinBlack.png");
    
}

.noUi-background
{
    background: transparent;
}