

aside
{
	transition: all 0.1s;
	box-sizing: border-box;
	height:100%;
	width: 70px;
	/*border:5px solid red;*/
	position:relative;
	left: -69px;
	line-height: 500px;
}

aside:hover, aside:active
{
	left: 0;
}