
#controlContainer #searchField
{
	width: 100%;	
}

#sliderContainer
{
	transition: all 0.1s;
	left: -60px;
}
#sliderContainer.sliderVisible
{
	left: 0;
}

#sliderHandle
{
    visibility: visible;
}


#transformContainer
{
	left: 0px;
}